<?xml version="1.0"?>
<robot name="phantomx" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Import all Gazebo-customization elements, including Gazebo colors -->
    <xacro:include filename="$(find phantomx_description)/urdf/phantomx.gazebo" />
    <!-- Import Rviz colors -->
    <xacro:include filename="$(find phantomx_description)/urdf/materials.xacro" />
    <!-- Import macros -->
    <xacro:include filename="$(find phantomx_description)/urdf/macros.xacro" />
    <!-- Import Kinect Sensor -->
    <xacro:include filename="$(find phantomx_description)/urdf/kinect.urdf.xacro" />
    
    <!-- Root link -->
    <link name="root_link" />

    <!-- Base link -->
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://phantomx_description/meshes/base_link.stl" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://phantomx_description/meshes/base_link_simple.stl" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
        <inertial>
            <origin xyz="0 0 0" />
		    <mass value="0.97559947"/>
		    <inertia ixx="3.1081800"  ixy="-0.25460189"  ixz="2.0318174" iyy="6.3787776" iyz="0.16417863" izz="5.3316425" />
        </inertial>
    </link>    

    <joint name="root_joint" type="fixed">
        <parent link="root_link" />
        <child link="base_link" />
        <origin xyz="0 0 0" />
    </joint>

    <!-- Legs -->
    <xacro:leg prefix="AL" xyz="0.12 0.06 0" rpy="0 0 ${PI/4}" femur_axis="0 0 -1" tibia_axis="0 0 1" />
    <xacro:leg prefix="AR" xyz="0.12 -0.06 0" rpy="0 0 -${PI/4}" femur_axis="0 0 1" tibia_axis="0 0 -1" />
    <xacro:leg prefix="BL" xyz="0 0.1 0" rpy="0 0 ${PI/2}" femur_axis="0 0 -1" tibia_axis="0 0 1" />
    <xacro:leg prefix="BR" xyz="0 -0.1 0" rpy="0 0 -${PI/2}" femur_axis="0 0 1" tibia_axis="0 0 -1" />
    <xacro:leg prefix="CL" xyz="-0.12 0.06 0" rpy="0 0 ${3*PI/4}" femur_axis="0 0 -1" tibia_axis="0 0 1" />
    <xacro:leg prefix="CR" xyz="-0.12 -0.06 0" rpy="0 0 -${3*PI/4}" femur_axis="0 0 1" tibia_axis="0 0 -1" />

</robot>
