<launch>

    <!-- Arguments-->
    <arg name="robot_model" value="$(find phantomx_description)/urdf_mk3/phantomx.xacro" />
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find phantomx_description)/rviz/default.rviz" />

    <!-- Load the URDF/Xacro model of our robot to the parameter server-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg robot_model)" />
    
    <!-- Provide simulated control of the robot joint angles -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <param name="use_gui" value="$(arg gui)"/>

    <!-- Publish the robot state -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
        <param name="publish_frequency" value="20.0" />
    </node>
    
    <!-- Run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
